<div class="m-2">
    <form asp-action="Index" class="row offset-2" method="get">
        <div class="col-8">
            <input class="form-control" type="text" name="SearchValue" placeholder="Enter Employee Name..." />
        </div>
        <div class="col-4">
            <input type="submit" class="btn btn-primary" value="Search" />
        </div>
    </form>
</div>