
@{
    ViewData["Title"] = "Check Your Inbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-agileinfo">
    <div class="agileits-top">
        <p>An Email has been Sent to your Email with your reset password link,Please Check Your Inbox</p>
        <p><a href="https://mail.google.com/mail/u/0/#inbox">Go To Your Inbox</a></p>
    </div>
</div>
