@using MVC04.PL.ViewModels
@model ResetPasswordVM
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-action="ResetPassword" method="post">
            <div asp-validation-summary="All"></div>
            <input asp-for="NewPassword" placeholder="Password" required="">
            <span asp-validation-for="NewPassword"></span>
            <br />
            <input asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
            <span asp-validation-for="ConfirmPassword"></span>
            <br />

            <input type="submit" value="Change Password">
        </form>
        <p> <a asp-action="Login">Cancel</a></p>
    </div>
</div>

